############################
# 🔒 SERVER ONLY
# Used internally by the backend (never exposed to the browser)
############################
BASE_API_URL=http://localhost:3000/api
DATABASE_URL=postgresql://admin:admin@localhost:5432/next_boilerplate
JWT_SECRET_KEY=

############################
# 🌍 CLIENT (PUBLIC)
# Exposed to the browser (must start with NEXT_PUBLIC_)
############################
NEXT_PUBLIC_LOGIN_REDIRECT_URL=http://localhost:3000


###############################################################
# 🌱 DEVELOPMENT ENVIRONMENT
# These variables are used only in local development
###############################################################
############################
# 🔒 SERVER ONLY
# Used internally by the backend (never exposed to the browser)
############################
POSTGRES_HOST=localhost
POSTGRES_PORT=5555
POSTGRES_USER=admin
POSTGRES_DB=next_boilerplate
POSTGRES_PASSWORD=admin

############################
# 🌍 CLIENT (PUBLIC)
# Exposed to the browser (must start with NEXT_PUBLIC_)
############################